body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
    font-family:monospace;
}
/*home.php start*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width: 204px;
    height: 139px;
    background-color: rgb(43, 42, 42);
    border-color: rgb(195, 65, 255);
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 5px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.submit{
    width: 300px;
    height: 35px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    background-color: #531358;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardbutton
{ 
  margin-top: 10px;
  border-radius: 4px;
  font-size: 15px;
  border: none;
  background-color: #531358;
  color: white;
}

.link{
    color: white;
}
/*home.php end*/

/*index.php*/
*{
    
    font-family: monospace;
  }
  
  .wrapper{
    width: auto;
    background: rgb(43, 42, 42); 
    border-color: rgb(195, 65, 255);
    border-style: solid;
    border-width: thin;
    color: #fff;
    margin: 100px;
    border-radius: 20px;
    padding: 15px;
  }
  
  .wrapper h1{
    font-size:20px;
    text-align:center;
  }
  
  .wrapper h3 {
    font-size:15;
    text-align:center;
  }
  .wrapper .input_container{
   position: relative;
    background: transparent;
    margin: 10px;
  }
  
  .input_container input{
    width:100%;
    height:100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
  }
  
  .input_container i{
    right: 50px;
    top: 15%;
    font-size: 16px;
  }
  
  #user_icon{
    position: absolute;
    right: 10px;
    top: 6px;
    
  }
  #pass_icon{
    position: absolute;
    right: 10px;
    top: 6px;
    
  }
  
  .wrapper .Password{
    position: relative;
    background: transparent;
    margin: 10px ;
  }
  
  .Password input{
    width:100%;
    height:90%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    
  }
  
  .show_pass{
    display: flex;
    align-items: center;
    align-content: center;

    padding-right: 5px;
  }
  
  .Password i{
    right: 20px;
    top: 15%;
    font-size: 20px;
  }
  
  .contain_input
  {
    display: flex;
    align-items: center;
    align-content: center;
  }