body{
    background-color: rgb(20, 20, 20);
    font-family:monospace;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
    
}

.card{
    width: 80%;
    height: 80%;
    background-color: rgb(43, 42, 42);
    border-color: rgb(195, 65, 255);
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 5px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: block;
}


.link{
    color: white;
}


