body{
    background-color: rgb(20, 20, 20);
    font-family:monospace;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
    
}

.card{
    width: 50%;
    height: 50%;
    background-color: rgb(43, 42, 42);
    border-color: rgb(195, 65, 255);
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab{
  background-color: rgb(46,46,46);
}
